<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Seitentitel</title>
        <link rel="stylesheet" href="base.css" />
    </head>
    <body>
        <div class="wrapper">
            <header id="main-header">
                <div id="nav-bar">
                    <div class="inner-wrapper">
                        <div id="logo">
                            <a href="index.html">
                                <img src="#" alt="Logo" />
                            </a>
                        </div>
                        <nav id="main-nav">
                            <a href="#">
                                <img src="#" alt="Burger Menu" />
                            </a>
                        </nav>
                    </div>
                </div>
                <div id="hero">
                    <div class="inner-wrapper">
                        <h1>Lorem Ipsum</h1>
                        <p class="subheader"></p>
                        <a href="#" class="button">Mehr erfahren</a>
                    </div>
                </div>
            </header>
            <main>
                <section class="teaser-element">
                    <div class="inner-wrapper">
                        <div class="flexbox">
                            <article>
                                <h2>Lorem Ipsum</h2>
                                <img src="#" alt="" />
                                <p></p>
                                <a href="#"></a>
                            </article>
                            <article>
                                <h2>Lorem Ipsum</h2>
                                <img src="#" alt="" />
                                <p></p>
                                <a href="#"></a>
                            </article>
                            <article>
                                <h2>Lorem Ipsum</h2>
                                <img src="#" alt="" />
                                <p></p>
                                <a href="#"></a>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="gallery-element">
                    <div class="inner-wrapper">
                        <h2>Lorem Ipsum</h2>
                        <div class="grid-gallery">
                            <img src="#" alt="" />
                            <img src="#" alt="" />
                            <img src="#" alt="" />
                            <img src="#" alt="" />
                        </div>
                    </div>
                    <p style="max-width: 720px">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolorem, modi!
                    </p>
                </section>
                <section class="text-button-element">
                    <div class="inner-wrapper">
                        <h2></h2>
                        <p style="max-width: 720px"></p>
                        <a href="#" class="button">Jetzt Termin vereinbaren</a>
                    </div>
                </section>
            </main>

            <footer id="main-footer">
                <div class="inner-wrapper">
                    <div class="flexbox">
                        <img src="#" alt="Logo" id="footer-logo" />
                        <address></address>
                    </div>
                </div>
                <div id="copyright">COPYRIGHT © 2023 BY X-SIGNAGE</div>
            </footer>
        </div>
    </body>
</html>
