@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

:root {
    --primary: orange;
    --dark-brown: #67453d;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 16px;
    color: var(--text-color);
}

main {
    position: relative;
}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.btn-primary:hover {
    background-color: var(--dark-brown) !important;
    border-color: var(--dark-brown) !important;
}

nav a, footer a {
    color: var(--dark-brown) !important;
}

nav a:hover, footer a:hover {
    color: var(--primary) !important;
}

/* Accordion */

.accordion-button {
    color: var(--dark-brown) !important;
}

/* Navbar */

.navbar {
    background-color: white;
}

#logo a img {
    width: 150px;
}

/* HERO */

#hero {
    background-image: url(../img/builders.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-top: 40px;
}

.search-field-button .search-button {
    width: 100%;
}

/* SUCHFUNKTION */

#job-list, #location-list {
    max-height: 70px;
}

#hero .input-group .search-field-1 #job-list .list-item {
    background: white;
}

.input-group .search-field-1 #job-list .list-item p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.input-group .search-field-2 #location-list .list-item {
    background: white;
}

.input-group .search-field-2 #location-list .list-item p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

/* Hero Small */

#hero-small .input-group .search-field-1 #job-list .list-item {
    background: grey;
}

#hero-small .input-group .search-field-1 #job-list .list-item p {
    color: white;
}

#hero-small .input-group .search-field-2 #location-list .list-item {
    background: grey;
}

#hero-small .input-group .search-field-2 #location-list .list-item p {
    color: white;
}

/* AKKORDION */

.accordion-button {
    background-color: #fff !important;
}

/* TABLET */
@media (min-width: 1024px) {

    .inner-wrapper {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
    }

    /* HERO */
    #hero {
        height: 352px;
    }

    /* SUCHFUNKTION */
    #job-list, #location-list {
        max-height: 200px;
    }
}

/* DESKTOP */
@media (min-width: 1200px) {
    /* HERO */

    #hero {
        height: 580px;
    }
}
