@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

:root {
    --primary: orange;
    --dark-grey: #808080;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    color: var(--text-color);
}

main {
    position: relative;
}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.inner-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

/* Navbar */

.navbar {
    background-color: white;
}

/* HERO */

#hero {
    background-image: url(../img/builders.jpg);
    background-position: center;
    background-size: cover;
    height: 190px;
    padding-top: 40px;
}

.search-field-button {
    width: 20%;
}

.search-field-button .search-button {
    width: 100%;
}

.search-field-1,
.search-field-2 {
    width: 40%;
}

/* SUCHFUNKTION */

.input-group .search-field-1 #job-list {
    height: 200px;
}
#hero .input-group .search-field-1 #job-list .list-item {
    background: white;
}

.input-group .search-field-1 #job-list .list-item p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.input-group .search-field-2 #location-list {
    height: 200px;
}
.input-group .search-field-2 #location-list .list-item {
    background: white;
}

.input-group .search-field-2 #location-list .list-item p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

/* Hero Small */

#hero-small .input-group .search-field-1 #job-list .list-item {
    background: grey;
}

#hero-small .input-group .search-field-1 #job-list .list-item p {
    color: white;
}

#hero-small .input-group .search-field-2 #location-list .list-item {
    background: grey;
}

#hero-small .input-group .search-field-2 #location-list .list-item p {
    color: white;
}

/* Content Element */

.inserat-element {
    background-color: gainsboro;
}

/* AKKORDION */

.accordion-button {
    background-color: #fff !important;
}

@media (max-width: 1023px) {
    .mobile-width {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* TABLET */
@media (min-width: 1024px) {
    /* HERO */

    #hero {
        height: 352px;
    }
}

/* DESKTOP */
@media (min-width: 1200px) {
    /* HERO */

    #hero {
        height: 580px;
    }
}
