@font-face {
    font-family: "Lato";
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Lato-Bold.ttf) format("ttf");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Lato-Black.ttf) format("ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

button.cta {
    font-family: "Lato";
}

html * {
    box-sizing: border-box;
}

h1 {
    color: white;
    text-shadow: 0px 3px 12px #0000004d;
}

img {
    max-width: 100%;
}

:root {
    /* Colors: */
    --grey: #969696;
    --light-grey: #dddddd;
    --red: #e74149;
    --h-space: 30px;
    --m-space: 55px;
    --e-space: 40px;
}

#main-header {
    background: orange;
    background-image: url(img/blog-banner.png);
    background-position: center;
    background-size: cover;
    min-height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.h-spacing {
    padding-left: var(--h-space);
    padding-right: var(--h-space);
}

.m-spacing {
    padding-top: var(--m-space);
    padding-bottom: var(--m-space);
}

.e-spacing {
    padding-bottom: var(--e-space);
}

#main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    flex: 0;
    width: 100%;
}

#main-header .container:last-child {
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

#main-header .inner-wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
}

button.cta {
    border-radius: 12px;
    background: var(--red);
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
}

.teaser {
    justify-content: center;
}

.teaser a,
.teaser h3 {
    color: var(--red);
}

.teaser footer:after {
    content: "›";
    color: var(--red);
    padding-left: 5px;
}

.teaser > .container {
    flex-direction: column;
    display: flex;
    gap: 50px;
}

.teaser a:hover::before {
    content: "";
    display: block;
    position: relative;
    bottom: -1.5em;
    width: calc(100% - 1.25em);
    height: 1px;
}

.teaser a:hover {
    text-decoration: underline;
}

.teaser a {
    text-decoration: none;
}

.teaser a {
    transition: all 0.5s ease-in-out;
}

.teaser a:active {
    color: pink;
}

/* Wenn man schon mal geklickt hat*/
.teaser a:visited {
    /*color: black;*/
}

.inner-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

body > .wrapper > footer {
    background-color: var(--light-grey);
}

#main-footer #footer-logo {
    display: none;
}

#main-footer nav ul {
    display: flex;
    flex-wrap: wrap;
}

#main-footer nav ul li {
    flex-basis: 50%;
    padding-left: 10px;
}

#main-footer #copyright {
    font-size: 0.8em;
    color: var(--grey);
    text-align: center;
}

#main-footer nav ul li {
    margin-bottom: 1em;
}

#main-footer nav ul li a {
    color: black;
    text-decoration: none;
}

#main-footer nav ul li::marker {
    content: "›";
    color: var(--red);
}

@media (min-width: 768px) {
    /* Viewport größer/gleich 768px */
    .teaser article {
        height: auto;
        max-width: 400px;
    }
    .teaser > .container {
        flex-direction: row;
    }
    #main-footer .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #main-footer #footer-logo {
        display: block;
        filter: grayscale(1);
    }
    #main-footer #copyright {
        flex-basis: 100%;
        text-align: right;
        margin-top: -1em;
    }
    #main-header .inner-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: white;
        z-index: 0;
        display: block;
    }

    #main-header .inner-wrapper a,
    #main-header .inner-wrapper nav {
        z-index: 1;
    }
}

@media (min-width: 1200px) {
    /* Viewport größer/gleich 1200px */
}
